#about-page{
    padding: 100px;
    h1{
        font-size: 3rem;
        font-weight: 500;
        color: black;
        margin-bottom: 2.5rem;
        text-transform: uppercase;
        font-family: 'Recursive', sans-serif;

    }
    p{
        font-size: 1.2rem;
        line-height: 1.5;
        margin-bottom: 2rem;
        font-weight: 400;

    }
    .content-box{
        background: white;
        padding: 40px;
      
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) and (max-width: 560px) {

    #about-page {
        padding: 20px;
    }

 }
//small-medium
 @media (min-width: 561px) and (max-width: 767px) {

    #about-page {
        padding: 20px;
    }
 }
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {

    #about-page {
        padding: 20px;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px)  { }

